<h1>タスク詳細画面</h1>
<p>タイトル: <%= @task.title %></p>
<p>内容: <%= @task.content %></p>
<p>終了期限: <%= @task.time_limit %></p>
<p>ステータス: <%= @task.status %></p>
<p>優先順位: <%= @task.priority %></p>

<hr>

<table>
  <tr>
    <th>ラベル</th>
  </tr>

  <% @tasklabel.each do |label| %>
    <tr>
      <td><%= label.label_title %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'タスク一覧画面にもどる', tasks_path %>
